# .aliases

eval $(thefuck --alias)

# Apt
alias apt='sudo apt'

# Files
alias ll='ls -lha'
alias ls='ls -a'
alias cd..='cd ..'
alias home='cd ~'
alias workspace='cd $HOME/workspaces/'

# Git
alias gcma='git commit -am'
alias ga='git add .'
alias gp='git push'
alias gr='git rebase'

# Docker
alias dc='docker-compose'
alias dcr='docker-compose run'
alias docker_rmi='docker rmi -f $(docker images -f "dangling=true" -q)'

