[user]
	name = Felipe Frizzo
	email = felipefrizzo@gmail.com
[credential]
	helper = osxkeychain
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[merge]
	summary = true
[core]
	excludesfile = ~/.gitignore_global
	editor = code -n -w
[push]
	default = current
[alias]
	st=status
	co=checkout
	br=branch
	rb=rebase
	mg=merge
	cm=commit -a --amend -C HEAD
	ci=commit -a -v -m
	pu=push
	pl=pull
	branches=branch -a
	remotes=remote -v
	prunetags = fetch --prune origin '+refs/tags/*:refs/tags/*'
[commit]
	# https://help.github.com/articles/signing-commits-using-gpg/
	gpgsign = false
[diff]
	renames = copies	
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[includeIf "gitdir:~/Documents/workspaces/company/"]
	path = .gitconfig-company
[init]
	defaultBranch = main
[pull]
	rebase = true
