"*":
  "atom-ctags":
    autoBuildTagsWhenActive: true
  "autocomplete-go": {}
  "autocomplete-python":
    useKite: false
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "welcome"
      "symbols-view"
      "autocomplete-glsl"
      "atom-ctags"
      "dash"
      "go-rename"
      "mathjax-wrapper"
    ]
    excludeVcsIgnoredPaths: false
  dyndocker: {}
  editor:
    fontSize: 13
    invisibles: {}
    preferredLineLength: 79
    showIndentGuide: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "beca608e-8581-bdfe-3bde-a1a9bd166fed"
  "file-icons": {}
  "go-oracle": {}
  "go-plus": {}
  "go-rename": {}
  "gometalinter-linter": {}
  linter:
    errorPanelHeight: 71
    gutterPosition: "Left"
    underlineIssues: false
  "linter-python":
    withPep8: true
    withPylint: true
  react: {}
  tabs:
    addNewTabsAtEnd: true
  "tester-go": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
".ruby.source":
  editor:
    tabLength: 2
